html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #fdf6e6; 
    margin-bottom: 70px;
}

a:link { color: #065d8b !important; }
a:visited { color: #065d8b !important; }
a:hover { color: #063c57 !important; }
a:active { color: #065d8b !important; }

.navbar-light {
    background-color: #a1e8fa;
    color: #065d8b;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}

.navbar-brand {
    color: #3c3d5e;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.dropdown-menu a:hover {
    background-color: #baeaf5;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #0b537a; 
    background-color: #a1e8fa;
}

.col-lg-6, .col-lg-4 {
    background-color:#fdf6e6;
    margin-top: 20px;
}

h4 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #0b537a; 
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

h5 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #3c3d5e; 
    font-size: 18px;
}

label {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #226183;
    font-size: 20px;   
}

.error {
    font-family: Verdana, Geneva, sans-serif;
    color: #7e0e0e;
}


/*Styling cards*/

.card {
    margin-top: 20px;
}

.cardcol {
    min-width: 380px;
}

.card-body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #3c3d5e;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-title {
    text-transform: capitalize;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
    color: #3c3d5e;
}

.list-group {
    margin: 30px 0px 30px 0px;
}

svg {
    margin-left: 15px;
}


/* Modifying for mobiles */
@media only screen and (max-width: 600px) {
    footer {
    height: 70px;
}
    .cardcol {
    min-width: 300px;
}
    
} 